/* Div-Container */
.container-fluid {
}

/* Grid */
.grid {
}

/* Menu */
.menu {
  padding: 0;
}

/* Profile */
.profile {
  max-height: 400px;
}

/* Board */
.board {
}

/* Data-Table */
.data-table {
  padding: 0;
}

/* Data-Table */
/* Tab */
.tab {
  min-height: 75px;
  max-height: 75px;
}
