/* Nav */
nav {
  background-color: #090927;
}

/* Div-Container */
.div-container {
  /* background-color: blue; */
}

/* Grid */
.grid {
  height: 100vh;
}

/* Menu */
.menu {
  padding: 0;
  /* background-color: #090927; */
  /* color: white; */
}

/* Profile */
.profile {
  max-height: 400px;
  border-top: 0px;
  border-bottom: 1px;
  border-left: 0px;
  border-right: 0px;
  border-color: rgb(200, 200, 200);
  border-style: solid;
}

/* Board */
.board {
}

/* Data-Table */
.data-table {
  padding: 0;
}

/* Data-Table */
/* Tab */
.tab {
  min-height: 85px;
  max-height: 85px;
  background-color: rgb(10, 10, 53);
  color: white;
}

/* Tab Menu */
.tab-menu .row > div {
  min-height: 90px;
  max-height: 90px;
}

.tab-icon {
  width: 50px;
  height: 50px;
  background-color: rgb(246, 208, 58);
}
